/* ============================================================
 * 작성자 : 노종민(nomisoul@gmail.com)
 * 파일명 : style.css
 * 설  명 : 화면 css
 * 최초 작성일 : 2016.04.28
 ============================================================ */
@charset "UTF-8";
body {
	background-color: #e2e2e2;
}
.wrap {
	width: 100%;
	min-width: 1200px;
	height: 100%;
}

/* header */
.header {
	position: fixed;
	width: 200px;
	height: 100%;
	min-height: 630px;
	background-color: #000000;
	z-index: 1100;
}
.header h1 {
	width: 200px;
	height: 140px;
	line-height: 140px;
	background-color: #004098;
	text-align: center;
	font-family: '돋움', 'Dotum', 'Noto Sans';
}
.header h1 a {
	font-size: 18px;
	color: #fff;
}
.header .gnb > li {
	position: relative;
	border-bottom: 1px solid #262626;
}
.header .gnb > li a {
	display: block;
	padding-left: 30px;
	line-height: 64px;
	color: #fff;
}
.header .gnb > li > a.on {
	background-color: #1e1e1e;
}
.header .gnb > li > ul {
	display: none;
	position: absolute;
	top: 0;
	left: 200px;
	width: 200px;
	z-index: 1000;
}
.header .gnb > li > ul li {
	border-bottom: 1px solid #292929;
}
.lnb_bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #1e1e1e;
	z-index: 999;
}
.header .footer {
	position: absolute;
	bottom: 0;
	width: 200px;
	color: #fff;
}
.header .footer address {
	text-align: center;
	line-height: 20px;
	font-family: '돋움', 'Dotum', 'Noto Sans';
	font-size: 12px;
	font-style: normal;
}
.header .footer .copy {
	margin: 30px 10px 0;
	padding: 30px 0;
	border-top: 1px solid #4c4c4c;
	text-align: center;
	line-height: 20px;
	font-family: '돋움', 'Dotum', 'Noto Sans';
	font-size: 12px;
	font-style: normal;
}
.header .footer .copy a {
	color: #fff;
}

.container {
	padding-left: 200px;
	width: 1000px;
	height: auto;
	min-height: 100% !important;
	background-color: #fff;
}
.container.main {
	height: 100%;
	background-color: #BDDFDF;
}

/* main */
.container .section_left {
	display: table-cell;
	padding: 0 55px;
	width: 490px;
	height: auto;
	min-height: 100% !important;
	background: #BDDFDF url(../img/main_visual.png) no-repeat 0 194px;
}
.container .section_left h2 {
	margin-top: 55px;
}
.container .section_left p {
	margin-top: 20px;
	line-height: 28px;
}
.container .section_right {
	display: table-cell;
	width: 400px;
	height: 100%;
	background-color: #fff;
	vertical-align: top;
}
.container .section_right .notice,
.container .section_right .ceri_info,
.container .section_right .date_info,
.container .section_right .cust_info {
	overflow: hidden;
}
.container .section_right .notice h3,
.container .section_right .ceri_info h3,
.container .section_right .date_info h3,
.container .section_right .cust_info h3 {
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 20px;
}
.container .section_right .notice {
	padding: 0 30px;
	height: 255px;
}
.container .section_right .notice ul li {
	line-height: 20px;
	font-size: 12px;
}
.container .section_right .notice ul li a {
	overflow: hidden;
	float: left;
	padding-right: 15px;
	width: 280px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.container .section_right .notice ul li span {
	float: left;
	width: 45px;
}
.container .section_right .ceri_info {
	padding: 0 30px;
	height: 220px;
	background: url(../img/main_bg01.png) no-repeat;
	color: #fff;
}
.container .section_right .ceri_info p {
	line-height: 22px;
	font-size: 12px;
	font-family: '돋움', 'Dotum', 'Noto Sans';
}
.container .section_right .ceri_info a.btn {
	display: inline-block;
	margin-top: 30px;
	padding: 7px 30px;
	border: 1px solid #fff;
	background-color: #001668;
	font-size: 12px;
	font-family: '돋움', 'Dotum', 'Noto Sans';
	color: #fff;
}
.container .section_right .date_info {
	padding: 0 30px;
	height: 255px;
}
.container .section_right .date_info table {
	width: 100%;
	border-top: 2px solid #b2b2b2;
}
.container .section_right .date_info table tr {
	border-bottom: 1px solid #b2b2b2;
}
.container .section_right .date_info table th,
.container .section_right .date_info table td {
	padding: 0 10px;
	line-height: 30px;
	text-align: left;
	font-size: 12px;
	font-family: '돋움', 'Dotum', 'Noto Sans';
}
.container .section_right .cust_info {
	padding: 0 30px;
	height: 220px;
	background: url(../img/main_bg02.png) no-repeat;
	color: #fff;
}
.container .section_right .cust_info p {
	line-height: 20px;
	font-size: 12px;
	font-family: '돋움', 'Dotum', 'Noto Sans';
}
.container .section_right .cust_info p.num {
	font-family: 'Arial', 'Noto Sans';
	line-height: 58px;
	font-weight: bold;
	font-size: 40px;
}

/* sub */
.container .sub_top {
	overflow: hidden;
	position: relative;
	padding: 0 50px;
	height: 328px;
}
.container .sub_top.about {
	background: url(../img/sub_bg01.png) no-repeat 50% bottom;
}
.container .sub_top.certification {
	background: url(../img/sub_bg02.png) no-repeat 50% bottom;
}
.container .sub_top.social {
	background: url(../img/sub_bg03.png) no-repeat 50% bottom;
}
.container .sub_top.community {
	background: url(../img/sub_bg04.png) no-repeat 50% bottom;
}
.container .sub_top h2 {
	margin-top: 60px;
	font-size: 40px;
	font-family: '돋움', 'Dotum', 'Noto Sans';
	color: #000;
}
.container .sub_top.social h2,
.container .sub_top.social .breadcrumbs {
	color: #fff;
}
.container .sub_top .breadcrumbs {
	position: absolute;
	top: 60px;
	right: 50px;
	font-size: 12px;
	font-family: '돋움', 'Dotum', 'Noto Sans';
}
.container .cnt_wrap {
	position: relative;
	padding: 50px;
}
.container .cnt_wrap .txt_wrap {
	margin: 0 30px;
}
.container .cnt_wrap .txt {
	line-height: 30px;
}
.container .cnt_wrap .member_type {
	margin-top: 50px;
}
.container .cnt_wrap .member_type dt {
	float: left;
	width: 130px;
	height: 125px;
	line-height: 125px;
}
.container .cnt_wrap .member_type dt img {
	vertical-align: middle;
}
.container .cnt_wrap .member_type dd {
	overflow: hidden;
	padding: 30px;
	height: 65px;
	border-bottom: 2px dotted #c1c1c1;
}
.container .cnt_wrap .member_type dd.first {
	border-top: 2px dotted #333333;
}
.container .cnt_wrap .member_type dd.last {
	border-bottom: 2px dotted #333333;
}
.container .cnt_wrap .member_type dd p.txt {
	line-height: 65px;
}
.container .cnt_wrap .location_map {
	margin-top: 30px;
}
.container .cnt_wrap ul.txt_list li {
	padding-left: 9px;
	line-height: 30px;
	background: url(../img/list_bullet01.png) no-repeat 0 16px;
}
.container .cnt_wrap ol.txt_list li {
	list-style-type: decimal;
	list-style-position: inside;
	line-height: 30px;
}

.container .cnt_wrap .table {
	width: 100%;
	border-top: 2px solid #520d75;
	border-bottom: 1px solid #000000;
}
.container .cnt_wrap .table caption {
	visibility: visible;
	margin-bottom: 10px;
	width: auto;
	height: auto;
	line-height: 20px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color: #520d75;
}
.container .cnt_wrap .table tbody tr {
	border-top: 1px solid #cccccc;
}
.container .cnt_wrap .table tbody tr th,
.container .cnt_wrap .table tbody tr td {
	padding: 15px 20px;
	line-height: 30px;
}
.container .cnt_wrap .table tbody tr th {
	text-align: left;
}
.container .cnt_wrap .cnt_title {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #520d75;
}
.container .cnt_wrap .btn_wrap {
	overflow: hidden;
	text-align: center;
}
.container .cnt_wrap .btn_wrap .btn {
	display: inline-block;
	padding: 0 50px;
	line-height: 35px;
}
.container .cnt_wrap .btn_wrap .btn_red {
	border: 2px solid #e4007f;
	color: #e4007f;
}
